
#wohpmyadmin{
	
}





#wphpmyadmin th, #wphpmyadmin td{
	cursor: pointer;
}

#wphpmyadmin-menu{
	list-style-type: none;
	display: block;
}

#wphpmyadmin-menu li{
	display: inline-block;
	margin: 0;
	padding: 0px;
}

#wphpmyadmin-menu li a{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #999;
	background: #EFEFEF;
}

.odd{
	background-color: #CCCCCC;
}

.even{
	background-color: #FFFFFF;
}

.odd td, .even td{
	padding: 5px 10px;
}

#sqleditor{
	width: 80%;
	height: 300px;
	display: block;
	margin-bottom: 11px;
	border: 1px solid #999;
}
